
#filter_form{
    transition: opacity 300ms ease;
    opacity:0;
}
 .search_filter-bar {
     margin-top: 15px;
     padding: 10px;
     padding-bottom: 0;
     display: flex;
    position: relative;
    z-index:6;
     grid-gap: 10px;
}
 .search_filter-bar .filter-item button{
     display: flex;
    grid-gap: 10px;
    align-items: center;
    background: #f1f3f4;
    border-radius: 50px;
    padding: 5px 20px;
     font-size: 1.3rem;
     font-weight: 500;
    position: relative;
    z-index: 10;
}
 .search_filter-bar .filter-item button .icon{
     width: 10px;
     height: 10px
}
 .search_filter-bar .filter-item .filter-menu{
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 1px 3px 0px #00000059;
}
 .search_filter-bar .filter-item .filter-menu ._option-item {
     user-select: none 
}
 .filter-item{
    position: relative;
}
 .filter-menu {
     top: 40px !important;
     left: 0 !important;
     position: absolute;
}
 .filter-menu .option-item-wrapper {
     padding: 0;
}
 .filter-menu ._option-item {
     border-bottom: none;
     padding: 0
}
 .filter-menu ._option-item:hover {
     box-shadow: none;
}
 .filter-menu ._option-item input{
     display: none;
}
 .filter-menu ._option-item label{
     display: flex;
     align-items: center;
     justify-content: space-between;
    white-space: nowrap;
     grid-gap: 30px;
     cursor: pointer;
     padding: 10px 20px;
}
 .filter-menu ._option-item label:hover{
    background:#f1f3f4;
}
 .filter-menu ._option-item label div{
    font-size: 1.3rem;
}
 .filter-menu ._option-item label.disabled{
    opacity:0.5;
}
 .filter-menu ._option-item label .icon{
     display: none;
     height: 21px;
     width: 21px
}
 .filter-menu ._option-item label .count{
     font-size: 1.2rem;
     font-weight: 300;
     height: 21px;
     width: 21px;
     display: flex;
     align-items: center;
}
 .filter-menu ._option-item input:checked + label div{
     font-weight: 700
}
 .filter-menu ._option-item input:checked + label .icon{
     display: block;
}
 .filter-menu ._option-item input:checked + label .count{
     display: none;
}
 .filter-menu ._filter-button{
    padding: 15px 20px;
     border-top: 1px solid #F1F3F4;
    font-size: 1.3rem;
    cursor: pointer;
}
 .filter-menu ._filter-button .icon{
    width:16px;
    height:16px;
}
 .search-filters ._filter-bar .list-item{
    cursor:pointer;
}
 .filter-menu .done-button{
    display: none;
    text-align: center;
    color: #0066b7;
     font-weight: 500;
}
 ._toggle input[type='checkbox']{
     display: none;
}
 ._toggle label{
     background: #808080;
     display: block;
     height: 18px;
     width: 30px;
     position: relative;
     border-radius: 30px
}
 ._toggle label > div{
     background: #fff;
     height: 14px;
     width: 14px;
     position: absolute;
     left: 2px;
     top: 0;
     bottom: 0;
     margin: auto;
     transition: all 100ms ease-in-out;
     border-radius: 30px
}
 ._toggle input[type='checkbox']:checked + label {
     background: #0075ff
}
 ._toggle input[type='checkbox']:checked + label div{
     left: 13px
}
 .filter-item.-stores.-applied button{
    background:#e8f0fe;
}
 .filter-item.-stores.-applied button svg{
    fill:#1558d6;
}
 @media(max-width:1000px) {
     .search_filter-bar {
        position:static;
    }
     .search_filter-bar .filter-item button{
        position:static;
    }
     .search_filter-bar #close_menu{
        pointer-events: initial;
    }
     .filter-menu{
        position: fixed;
        left: 0 !important;
        right: 0 !important;
        top: 20% !important;
        max-width: 300px;
        margin: auto;
    }
     .filter-menu-bg{
         display: none;
         background: #00000005;
         width: 100%;
         height: 100%;
         position: fixed;
         top: 0;
         left: 0;
         z-index: 1
    }
     .filter-menu-bg.show{
        display:block;
    }
     .filter-menu .option-item-wrapper{
         max-height:360px;
         
    }
     .filter-menu .close-bar {
         display: flex;
         
    }
     .filter-menu ._option-item label div{
        font-size: 1.5rem;
    }
     .search_filter-bar {
         overflow: auto;
         width: 100% 
    }
     .search_filter-bar::-webkit-scrollbar {
        height: 0
    }
     .filter-menu ._option-item label{
         padding: 30px 20px;
         height: 40px;
    }
     .filter-menu ._filter-button{
        font-size:1.5rem;
    }
     .filter-menu .done-button{
        display: block;
    }
}
 .product-item ._size{
    align-items:flex-end;
}
 .product-item ._like{
    margin-left: auto;
    margin-right: 0;
    position: absolute;
    z-index: 4;
    top: 35px;
}
 .product-item ._like button{
    height:16px;
    font-size:1.1rem;
    font-weight:600;
    padding:6px 7px;
}
 .product-item ._like button .icon {
    width: 17px;
    height: 17px;
}
 .filter-menu{
    max-height:480px!important;
}
 ._filter-button.done-button .cta{
    width: 100%;
    padding: 5px;
}

 .apply-all-searches{
    padding:10px 20px;
    position:sticky;
    bottom:0;
    font-size: 1.3rem;
    background: #fff;
    font-weight: 500;
    text-align: left;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    grid-gap: 30px;
    border:0;
    border-bottom:1px solid #F1F3F4;
}
 @media(max-width:1000px) {
     .filter-menu{
        max-width:100%;
        border-radius:10px 10px 0 0!important;
        bottom:0;
        top:unset!important;
        margin:0;
    }
     .filter-menu ._filter-button{
        border:0!important;
        width: 100%;
    }
     .filter-menu ._filter-button.apply-all-searches{
        padding:20px 30px 3px;
        border-top: 1px solid #eee!important;
    }
}
@media (max-width: 768px){
._item {
    margin-bottom: 1px;
}
}