@media(max-width:800px) {header .search-bar input{font-size:16px;font-size:1.6rem;}header .search-bar{padding:10px 15px;}
form.-show-desktop {
    width: 90%;
}

}



/* header */
header { box-shadow: 1px 2px 1px #e5e5e5; background:white;position:sticky;top:0;left:0;right:0;z-index:10; }
header ._inner{ display: flex; padding: 20px 15px;justify-content: space-between; align-items: center; grid-gap: 10px; max-width: 1700px; margin: auto}
header .search-bar-outer{ flex-grow: 1;}
header .search-bar { display: grid; grid-template-columns:  21px auto 25px;align-items: center; border: none;max-width: 800px; margin: auto; background: #f1f3f4;border-radius: 50px;padding: 10px 15px; padding-top: 12px; box-sizing: border-box;outline: none; grid-gap: 5px}
header .search-bar .icon{ width: 20px; height: 20px;}
header .search-bar input{ border: none; outline: none; background: none;width:100%;max-width:none;}

header .search-bar ._close-button.-hide{display:block;}
.search-header-mob{ display: none; grid-template-columns: auto 32px; padding: 9px; grid-gap: 10px; background: #fff; position: absolute; top: 0; left: 0; width: 100% }

header .list-button{position: relative;}
header .list-button ._count{background: #000;line-height: 12px;font-size: 1rem;padding: 0 5px;color: #fff;font-weight: 500;border-radius: 10px;position: absolute;right: 13px;bottom: 11px;}


@media(min-width:800px) {header ._inner{ padding:15px 40px }
header .search-bar ._barcode-button{display:none; } }



@media only screen and (max-width:1024px) {
	/* dsc code to fix input zoom on IOS */
	#searchInput{font-size:1.6rem;}
}
@media (max-width: 800px) {
	header {
	  height: 60px; /* adjust the height as needed */
	}
  
	header ._inner {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  grid-gap: 10px;
	  max-width: 1700px;
	  margin: auto;
	  margin-bottom: 40px;
	  height: 70px;
	}
  
	header ._inner > *:not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)) {
	  display: none;
	}
  
	header .search-bar-outer {
	  flex-grow: 1;
	  display: flex;
	  align-items: center;
	  margin-bottom:10px;
	  margin-right: -20px;
	  
	}
  
	header .search-bar {
	  height: 40px;
	  width: 110%;
	  display: flex;
	  align-items: center;
	  
	}
  
	header .search-bar input {
	  
	  width: 220px;
	  
	}
	.logo{
		display: block;	
		height: 40px;
		width: 40px;
		margin-left: 10%;
		margin-right: 10px;
		margin-top: -15%;
	}
  }
  @media (min-width: 801px) {
.logo{
	display: block;	
		width: 50px;
}
  }
.icon { display: block; width: 32px; height: 32px }
.icon.-size-xs{width:20px;height:20px;}
.icon.-size-xxs{width:16px;height:16px;}

/* mobile nav */
.mobile-nav { position: fixed;bottom: 0;left: 0;background: #fff;width: 100%;display: flex;justify-content: space-evenly; border-top: 1px solid #afafaf; z-index: 8 }
.mobile-nav button{ padding: 12px 30px }
.mobile-nav.-menu-active{position:relative;}

/* search-results */
#search-results .products-grid { margin-top: -20px }
#search-filters { padding: 0 }

.search-alerts { display: flex; align-items: center; padding: 10px; background: #fae8c0; font-size: 1.2rem; grid-gap: 10px}
.search-alerts span{ font-size: inherit}
.search-alerts .icon{ width: 24px; height: 24px;flex: 0 0 24px;}

.search_more-results { cursor: pointer;}
.search_more-results div{ font-weight: 600; color: #16369a; line-height:0;}
.search_more-results .icon{ fill:#16369a }

@media(min-width:1000px) {
.search-alerts { border-radius: 30px;;margin: 10px;margin-bottom: 15px; padding: 5px 10px}
}



