.action-bar {
    display: none;
  }
  
  @media (max-width: 768px) {
    .action-bar {
      z-index: 99;  
      position: fixed;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background: white;
      border-radius: 20px;
      box-shadow: 0 10px rgba(0, 0, 0, 0.2);
      width: 250px;
      height: 60px;
      font-size: 1.7em;
    }
  }
  
  .btn-add {
    border-radius: 50%;
    background: rgb(46, 44, 52);
    color: white;
    width: 45px;
    height: 45px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 1.7rem;
  }
  