.-scrollable {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    -webkit-scrollbar: none;
}

.-scrollable::-webkit-scrollbar {
    display: none;
}



header{z-index:1001;}
section{border-bottom:0;}
section:first-child{padding-top:0;}
h3{color:#000;}
.infinite-loading{visibility:hidden;text-align: center;padding: 10px;}
.infinite-loading.-active{visibility:visible;}
.infinite-loading svg{fill:#555;height: 25px;width: 25px;display: inline-block;animation: loading_rotate 1.25s linear infinite;}
@keyframes loading_rotate {0%{transform:rotate(0deg);} 100%{transform:rotate(360deg);}}
.flow-items{white-space:nowrap;}
.flow-items h2{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

@media(min-width:701px) {
	.parent{margin:20px auto 0;}
}

[data-app] .sidebar{top:0!important;}

@media(max-width:700px) {
	.sidebar.-active {position: sticky;}
}

.store-items{display: grid;grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));gap:15px;align-items: center;justify-content: flex-start;}
.store-items > .item{cursor:pointer;height:120px;border:1px solid #ddd;display:flex;justify-content:center;align-items:center;padding:15px;}
.store-items > .item:hover, .store-items > .item.-active{background:#eeeff0;}
.store-items > .item > svg{zoom:1.2;}
@media(max-width:700px) {
	.sidebar.-active {position: sticky;}
	.store-items{display:flex;grid-template-columns:unset;gap:15px;align-items: center;flex-direction: row;}
	.store-items > .item{min-width:140px;}
}

  .containerr  {
    overflow: auto;
    white-space:nowrap;
    width: 350px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    -webkit-scrollbar: none;
  }